
@{
    ViewBag.Title = "CancelOrder";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<h1>Đơn hàng đã được hủy bỏ</h1>
<p>Hủy đơn hàng thành công từ Ngân Lương. Vui lòng <a href="/">click vào đây</a> để về trang chủ.</p>
<div class="clearfix"> </div>

